:root {
    --background-color: #E6F0EC;
    --surface-color: #D2E4DD;
    --accent-color: #6FA89C;
    --accent-hover: #5F978B;
    --text-color: #3F5F5A;
    --green-1: #A3B186;
    --green-2: #5B754A;
    --green-3: #4E9B31;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    font-family: "Cascadia Code", sans-serif;
    margin: 0;
    padding: 0;

}

.game-name {
    margin-top: 20px;
    margin-left: 30px;
}

.game-name__title {
    font-weight: normal;
    padding-bottom: 8px;
    margin-bottom: 18px;
    font-size: 1.2em;
}

.menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu__container {
    max-width: 350px;
    margin: 10px;
    padding: 10px 10px;
    border-radius: 6px;
    background: var(--surface-color);
}

.menu__heading {
    font-size: 1.2em;
    padding: 5px;
}

.menu__form {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.menu__input[type="text"],
.menu__input[type="password"] {
    padding: 5px;
    margin-bottom: 12px;
    border-radius: 3px;
    color: var(--text-color);

    font: inherit;
    font-size: 1em;
    background-color: #9c9c9c;
    border: none;
}

.menu__button {
    position: relative;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 20px;

    background: none;
    color: white;
    border: none;
    border-radius: 6px;

    font: inherit;
    font-size: 1em;
    text-align: center;
    cursor: pointer;

    transition: all 0.5s ease;
}

.menu__button:before,
.menu__button:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s ease;
}

.menu__button:before {
    content: "-=";
    left: -5px;
}

.menu__button:after {
    content: "=-";
    right: -5px;
}

.menu__button:hover::before,
.menu__button:hover::after {
    opacity: 1;
}

.menu__input {
    font: inherit;
    font-size: 1em;
    background-color: #9c9c9c;
    border: none;
}

.menu__link:visited,
.menu__link:active, a {
    color: white;
    text-decoration: none;
}

.stats-name {
    list-style: none;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#players-info {
    margin: 20px;
    padding: 10px;
    text-align: center;
    width: 500px;
    border-radius: 5px;
    background-color: var(--surface-color);
}

.flex-container {
    display: flex;
    gap: 20px;
}

.map-display {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    background-color: var(--surface-color);
}

#adventure-log {
    border-radius: 5px;
    width: 180px;
    height: 150px;
    background-color: var(--surface-color);
}

#inventory {
    border-radius: 5px;
    width: 180px;
    height: 130px;
    margin-top: 20px;
    background-color: var(--surface-color);
}

#dialogue-event {
    margin: 20px;
    border-radius: 5px;
    width: 500px;
    height: 200px;
    background-color: var(--surface-color);
}